<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div th:replace="fragments/styling :: headStyles"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <h1 class="card bg-secondary text-white text-center">Welcome to our Blog Post Site</h1>
        <h3>Check out our blogs!</h3>





        <div class="row">
            <div class="col-md-12" th:each="blog:${posts}">
                <div class="card" style="width: 18rem;">
                    <span class="border rounded-lg">
                        <div class="card-body bg-info text-white rounded-lg">

                            <div class="card-title mb-2" th:text="${blog.title}"></div>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${blog.author}"></h6>
                            <p class="card-text" th:text="${blog.blogEntry}"></p>

                        </div>

                        <div class="card-footer">
                            <form action="#" th:action="@{'/blogpost/{id}' (id=${blog.id})}" th:method="delete">
                                <div class="form-group">
                                    <input type="hidden" name="_method" value="delete" />
                                    <a href="#" th:href="@{blogpost/{id} (id=${blog.id})}" class="card-link btn btn-danger">Delete</a>
                                </div>
                            </form>
                        </div>

                    </span>
                </div>
            </div>
        </div>

        <a th:href="@{/blogpost/new}">
            <button class="btn btn-primary">Create a new Blog Post</button>
        </a>
    </div>

    <!-- this is my javascript -->
   <div th:replace="fragments/styling :: javascripts"></div>


</body>

</html>